.btn-primary {
  text-align: center;
  margin: 0;
  width: auto;
}

.btn-success {
  text-align: center;
  margin: 0;
  width: auto;
}

.btn-danger,.btn-info {
  text-align: center;
  margin: 0;
  width: auto;
  color: white;
}

.active {
  font-weight: bold;
  color: aliceblue;
  border: 0px;
  background-color: rgb(0, 244, 118);
}

.inactive {
  font-weight: bold;
  color: aliceblue;
  border: 0px;
  background-color: red;
}

.btn-Menu{
  text-align: center;
  width: 50%;
  background-color: rgb(0, 85, 255);
  color: white;
  font-weight: bold;
}

.inactive,
.active {
  border-radius: 10px;
  padding: 0;
  width: 20%;
}

@media (max-width: 768px) {
  .btn-Menu,
  .btn-success,
  .btn-danger,
  .btn-primary,
  .btn-info {
    width: 100%;
  }

  .inactive,
  .active {
    width: 50%;
  }
}