.contenedorLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    background-image: url('/Login.webp'); /* ajusta la ruta */
    background-size:cover;      /* para que cubra todo */
    background-position: center; /* centrado */
    background-repeat: no-repeat;
    padding: 10px;
  }
  .contenedorformulario {
    display: flex;
    flex-direction: column;
    background-color: rgba(140, 190, 231, 0.747);
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 5, 1);
    padding: 25px;
    gap: 25px;
    max-width: 400px; /* límite de ancho para que no se estire demasiado */
    width:100%;
    justify-content: center;
    min-height: 400px;
}

  .contenedorformulario{
    align-items: center;
  }

  .formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }