
.titulo {
    font-size: 2.5rem; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
    text-align: center; /* Centrar el texto */
    text-shadow: 0 0 5px rgb(90, 166, 247), 0 0 10px rgba(245, 245, 245, 0.6); /* Efecto de brillo */
}

/* Contenedor del formulario */
.formContainer {
    background:url("/RegisterClient.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    width: 100%; /* Ancho completo */
    padding: 30px;
    background-color: rgba(199, 199, 199, 0.9); 
    border-radius: 15px; 
    color: white;
    
    font-size: 17px;
    box-shadow: 0 5px 15px rgba(0, 0, 0,1); 
}

.formRegisterClient .form-control {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6); 
    transition: box-shadow 0.3s;
    
}
.form-text{
    color: white;
}
.formRegisterClient .form-control:focus {
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.9); 
}

.btn {
    width: 100%; 
    margin-top: 20px; 
}

.row {
    margin-bottom: 15px; 
}
