.VehiculosConteiner {
    width: auto;
    padding: 20px;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    /* align-items: center;  */
    flex-direction: column;
    overflow: hidden;
}

.mb-3{
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* FORM */
.VehiculosConteiner2 button {
    display: inline-block;
    margin-right: 10px;
    width: auto;
}


.VehiculosConteiner2 .botones-reportes {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}



.tablaVehiculos button {
    width: 45%; 
    text-align: center;
    margin: 1px; 
}


.tituloVehiculos{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.tituloVehiculos h1{
    margin: 0;
}

.tituloVehiculos i{
    font-size: 50px;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(49, 48, 48, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}


.form-group2{
    width: auto;
}

.VehiculosConteiner2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    border: 1px solid #e0d5d5;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
    min-height: 120vh;
    height: auto;
}

.tituloVehiculos{
    color: #ffffff;
    background-color: #1e293b;
}

.form-Vehiculo{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.form-Vehiculo input{
    width: 400px;
}

.form-Vehiculo label{
    color: #1e293b;
    font-weight: bold;
}

.form-groupVehiculo{
    width: auto;
}

.form-groupVehiculo select{
    width: 400px;
}


.Indicaciones-Vehiculos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px; 
    padding-left: 0;
    margin-left: 0;
    margin: 10px;
}

.Indicaciones-Vehiculos button{
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    background-color: #ffffff;
    border: 0;
}

.form-diseño{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
    gap: 10px;
    overflow-x: auto;
}

  

@media (max-width: 750px){
    .tituloVehiculos h1{
        font-size: 1rem;
    }
    
    .form-groupVehiculo select,
    .form-Vehiculo input{
        width: auto;
    }

    .Indicaciones-Vehiculos button{
        font-size: 0.6rem;
    }
}

